asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
awsebcli==3.16.0
blessed==1.16.1
blinker==1.4
botocore==1.13.27
cached-property==1.5.1
cement==2.8.2
certifi==2019.9.11
chardet==3.0.4
click==6.7
cloud-init==18.5
colorama==0.3.9
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.3
distro-info===0.18ubuntu0.18.04.1
Django==2.0.2
docker==3.7.3
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
future==0.16.0
httplib2==0.9.2
hyperlink==17.3.1
idna==2.7
incremental==16.10.1
Jinja2==2.10
jmespath==0.9.4
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.0
netifaces==0.10.4
oauthlib==2.0.6
PAM==0.4.2
pathspec==0.5.9
Pillow==6.2.1
psycopg2-binary==2.8.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyserial==3.4
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.32
pytz==2019.3
pyxdg==0.25
PyYAML==3.13
requests==2.20.1
requests-unixsocket==0.1.5
SecretStorage==2.3.1
semantic-version==2.5.0
service-identity==16.0.0
six==1.11.0
ssh-import-id==5.7
systemd-python==234
termcolor==1.1.0
texttable==0.9.1
Twisted==17.9.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.3
virtualenv==15.1.0
wcwidth==0.1.7
websocket-client==0.56.0
zope.interface==4.3.2
